h1 {
    color: white;
    font-size: 1.5em;
}
p {
    color: white;
}
body{
    font-size: 1.0em;
    font-family: fantasy;
    color:white;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFqO9PyRq7UmMYqtydofbZqWQydX0-PXwdkpgRbRhYG23ca6F1);
}
h2{
    color: white;
    font-size: 1.0em;
    font-family: fantasy;
}
h3{
    color: white;
    font-size: 1.0em;
    font-family: fantasy;
}
